@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-background: #f9fffb;
  --color-background-dark: #56625a;
  --color-black: #121212;

  font-family: "Cerebri Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: var(--color-black);
  /* background-color: var(--color-black); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  line-height: 1.2;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: var(--color-black);
    background-color: #ffffff;
  }
} */
